doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BUDDY!
        link(rel="stylesheet", href="/css/validateUser.css")
    body
        .container
            .content-box
                h1 Ha ocurrido un problema.
                h2 No hemos podido encontrar tu usuario.